beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
lxml==4.9.2
pkg_resources==0.0.0
prettytable==3.6.0
requests==2.28.2
soupsieve==2.4
termcolor==2.2.0
urllib3==1.26.14
wcwidth==0.2.6
